<ion-header>
</ion-header>

<ion-content>
  <div>
    <ion-button class="voltar" fill="clear" routerLink="/lanches">
      <<</ion-button> <h1 class="titulo">
        -FLASH TUDO-
        </h1>

        <h2 class="linha">___________________________</h2>
  </div>

  <div>
    <ion-card class="flashtudo1">
      <img class="flashtudo1imgped" src="assets/flashtudo1.png">
    </ion-card>
  </div><br>

  <div>
    <h1 class="titulo2">Flash Tudo</h1>
    <ion-label class="titulo3">Pão de hambúrguer, humbúrguer, muçarela, presunto, ovo, bacon</ion-label>
    <h1 class="titulo2">R$ 45,00</h1>
  </div>

  <div>
    <ion-button class="add2">-</ion-button>
    <ion-button class="add3">00</ion-button>
    <ion-button class="add4">+</ion-button>

    <ion-button class="add">ADICIONAR</ion-button>
  </div>



</ion-content>