<ion-header>
</ion-header>

<ion-content>
  <div>
    <ion-button class="voltar" fill="clear" routerLink="/bebidas">
      <<</ion-button> <h1 class="titulo">
        -BRAHMA-
        </h1>

        <h2 class="linha">___________________________</h2>
  </div>

  <div>
    <ion-card class="brahma1">
      <img class="brahma1imgped" src="assets/brahma1.png">
    </ion-card>
  </div><br>

  <div>
    <h1 class="titulo2">Brahma</h1>
    <ion-label class="titulo3">Cerveja</ion-label>
    <h1 class="titulo2">R$ 6,50</h1>
  </div>

  <div>
    <ion-button class="add2">-</ion-button>
    <ion-button class="add3">00</ion-button>
    <ion-button class="add4">+</ion-button>

    <ion-button class="add">ADICIONAR</ion-button>
  </div>



</ion-content>