<ion-header>
</ion-header>

<ion-content>
  <div>
    <ion-button class="voltar" fill="clear" routerLink="/lanches">
      <<</ion-button> <h1 class="titulo">
        -FLASH BURGUER-
        </h1>

        <h2 class="linha">___________________________</h2>
  </div>

  <div>
    <ion-card class="flashburguer1">
      <img class="flashburguer1imgped" src="assets/flashburguer1.png">
    </ion-card>
  </div><br>

  <div>
    <h1 class="titulo2">Flash Burguer</h1>
    <ion-label class="titulo3">Pão de hambúrguer, humbúrguer, muçarela, cheddar, molho de cebola</ion-label>
    <h1 class="titulo2">R$ 39,00</h1>
  </div>

  <div>
    <ion-button class="add2">-</ion-button>
    <ion-button class="add3">00</ion-button>
    <ion-button class="add4">+</ion-button>

    <ion-button class="add">ADICIONAR</ion-button>
  </div>



</ion-content>