<ion-header>
</ion-header>

<ion-content>

  <div>
    <h1 class="titulo">
      -FLASH FOOD-
    </h1>

    <h2 class="linha">___________________________</h2> <br>
  </div>

  <ion-card class="cupom">
    <ion-card-header>
      <img class="cupomimg">
      <ion-card-subtitle (click)="alerta()" class="cupomstring">Cupom de R$ 5,00</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div>
    <h1 class=titulo2>Bebidas:</h1>

    <ion-card class="bebida1" routerLink="/antartica">
      <ion-card-header>
        <ion-card-title>Antartica</ion-card-title>
        <img class="bebida1img" src="assets/bebida1.png">
        <ion-card-subtitle class="ingredientes">Refrigerante 2 Litros</ion-card-subtitle>
        <ion-card-title>R$ 8,50</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div>
  <ion-card class="bebida1" routerLink="/cocacola">
    <ion-card-header>
      <ion-card-title>Coca-Cola</ion-card-title>
      <img class="bebida1img" src="assets/bebida1.png">
      <ion-card-subtitle class="ingredientes">Refrigerante 2 Litros</ion-card-subtitle>
      <ion-card-title>R$ 11,00</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

<div>
<ion-card class="bebida1" routerLink="/brahma">
  <ion-card-header>
    <ion-card-title>Brahma</ion-card-title>
    <img class="bebida1img" src="assets/bebida1.png">
    <ion-card-subtitle class="ingredientes">Cerveja</ion-card-subtitle>
    <ion-card-title>R$ 6,50</ion-card-title>
  </ion-card-header>
</ion-card>
</div>



</ion-content>