<ion-header>
</ion-header>

<ion-content>
  <div>
    <ion-button class="voltar" fill="clear" routerLink="/bebidas">
      <<</ion-button> <h1 class="titulo">
        -COCA COLA- 
        </h1>

        <h2 class="linha">___________________________</h2>
  </div>

  <div>
    <ion-card class="cocacola1">
      <img class="cocacola1imgped" src="assets/cocacola1.png">
    </ion-card>
  </div><br>

  <div>
    <h1 class="titulo2">Coca-Cola</h1>
    <ion-label class="titulo3">Refrigerante 2 Litros</ion-label>
    <h1 class="titulo2">R$ 11,00</h1>
  </div>

  <div>
    <ion-button class="add2">-</ion-button>
    <ion-button class="add3">00</ion-button>
    <ion-button class="add4">+</ion-button>

    <ion-button class="add">ADICIONAR</ion-button>
  </div>



</ion-content>